@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjectPRN211.Models
@model TblDonViTinh

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/main.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" asp-controller="Home" asp-action="Tasks">Back to Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="d-flex">
                <a class="btn btn-outline-dark me-2" asp-controller="Cart" asp-action="CartDetail">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_number">@ViewBag.Size</span>
                </a>
                <a class="btn btn-outline-dark" asp-controller="Order" asp-action="OrderHistory">
                    <i class="bi bi-bag-check-fill"></i>
                    Orders
                </a>
            </div>
        </div>
    </nav>

    <section class="cart-wrapper container" id="cart-wrapper">
        @if (ViewBag.Size != 0)
        {
            <div id="all-cart">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <th scope="col">MaHang</th>
                            <th scope="col">TenHang</th>
                            <th scope="col">Gia</th>
                            <th scope="col">SoLuong</th>
                            <th scope="col">Tong</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="cart-data">
                        @foreach (TblCart item in ViewBag.Carts)
                        {
                            <tr>
                                <th scope="row">@item.MaHang</th>
                                <td>@item.TenHang</td>
                                <td>@item.Gia</td>
                                <td>
                                    <div class="number-input">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown(); UpdateQuantity(this.parentNode.querySelector('input[type=number]'), '@item.MaHang');"></button>
                                        <input type="number" min="1" value="@item.Soluong" id="soluong" name="soluong" onchange="UpdateQuantity(this, '@item.MaHang')">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp(); UpdateQuantity(this.parentNode.querySelector('input[type=number]'), '@item.MaHang');" class="plus"></button>
                                    </div>
                                </td>
                                <td id="tong">$@(item.Gia * item.Soluong)</td>
                                <td><button class="btn btn-warning btn-cancelSingle" onclick="CancelSingle('@item.MaHang')">X</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button class="btn btn-danger btn-cancelAll" onclick="CancelAll()">Clear All</button>
                <div class="d-flex justify-content-end mb-4">
                    <form id="frm">
                        <h1 class="text-end">Số tiền phải trả: <span id="tongTien">$@ViewBag.Sum</span></h1>
                        <input type="text" id="maKH" placeholder="Nhap ma khach hang..." />
                        <br />
                        <input type="text" id="tenKH" placeholder="Nhap ten khach hang..." />
                        <br />
                        <button class="btn btn-info" type="button" onclick="CheckOut()">Thanh Toán</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <h1 id="message">Chưa có Cart</h1>
        }
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Pham Chu Duong 2022</p></div>
    </footer>
    @*<button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#checkout">Thanh Toán</button>*@
    <!-- Modal -->
    <div class="modal fade" id="checkout" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="checkout">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script>
        function CheckOut() {
            var rows = document.getElementById("cart-data").rows;
            var data = [{ maKH: document.getElementById("maKH").value.trim(), tenKH: document.getElementById("tenKH").value.trim() }];
            Object.keys(rows).forEach(indexrow => {
                data.push(
                    {
                        maHang: document.getElementById("cart-data").rows[indexrow].cells[0].innerHTML,
                        tenHang: document.getElementById("cart-data").rows[indexrow].cells[1].innerHTML,
                        soLuong: document.getElementById("cart-data").rows[indexrow].cells[3].getElementsByTagName('input').soluong.value
                    }
                );
            });
            const data_order = JSON.stringify(data)
            console.log(data_order)
            axios.get("CheckOut", {
                params: {
                    data_order
                }
            })
                .then((response) => {
                    console.log(response.data === "OK" ? "OK" : "Error")
                    document.getElementById("all-cart").remove()
                    var h1 = document.createElement("h1")
                    h1.innerHTML = "Chưa có Cart"
                    document.getElementById("cart-wrapper").appendChild(h1)
                })
        }

        function CancelSingle(maHang) {
            axios.get("CancelSingle", {
                params: {
                    maHang
                }
            })
                .then((response) => {
                    var content = "";
                    if (response.data.carts.length > 0) {
                        for (const item of response.data.carts) {
                            content += `<tr>
                                                <th scope="row">${item.maHang}</th>
                                                <td>${item.tenHang}</td>
                                                <td>${item.gia}</td>
                                                <td>
                                                    <div class="number-input">
                                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown(); UpdateQuantity(this.parentNode.querySelector('input[type=number]'), '${item.maHang}');"></button>
                                                        <input type="number" min="1" id="soluong" name="soluong" onchange="UpdateQuantity(this, '${item.maHang}')" value="${item.soluong}">
                                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp(); UpdateQuantity(this.parentNode.querySelector('input[type=number]'), '${item.maHang}');" class="plus"></button>
                                                    </div>
                                                </td>
                                                <td>$${(item.gia * item.soluong)}</td>
                                                <td><button class="btn btn-warning btn-cancelSingle" onclick="CancelSingle('${item.maHang}')">X</button></td>
                                    </tr>`
                        }
                        document.getElementById("cart-data").innerHTML = content
                        document.getElementById("tongTien").innerHTML = response.data.sum
                    } else {
                        document.getElementById("cart_number").innerHTML = response.data.carts.length
                        document.getElementById("all-cart").remove()
                        var h1 = document.createElement("h1")
                        h1.innerHTML = "Chưa có Cart"
                        document.getElementById("cart-wrapper").appendChild(h1)
                    }
                })
        }

        function CancelAll() {
            axios.get("CancelAll")
                .then((response) => {
                    document.getElementById("cart_number").innerHTML = response.data.carts.length
                    document.getElementById("all-cart").remove()
                    var h1 = document.createElement("h1")
                    h1.innerHTML = "Chưa có Cart"
                    document.getElementById("cart-wrapper").appendChild(h1)
                })
        }

        function UpdateQuantity(input, maHang) {
            var soLuong = input.value
            axios.get("UpdateQuantity", {
                params: {
                    soLuong, maHang
                }
            })
                .then((response) => {
                    console.log(response.data)
                    var content = "";
                        for (const item of response.data.carts) {
                            content += `<tr>
                                                        <th scope="row">${item.maHang}</th>
                                                        <td>${item.tenHang}</td>
                                                        <td>${item.gia}</td>
                                                        <td>
                                                            <div class="number-input">
                                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown(); UpdateQuantity(this.parentNode.querySelector('input[type=number]'), '${item.maHang}');"></button>
                                                                <input type="number" min="1" id="soluong" name="soluong" onchange="UpdateQuantity(this, '${item.maHang}')" value="${item.soluong}">
                                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp(); UpdateQuantity(this.parentNode.querySelector('input[type=number]'), '${item.maHang}');" class="plus"></button>
                                                            </div>
                                                        </td>
                                                        <td>$${(item.gia * item.soluong)}</td>
                                                        <td><button class="btn btn-warning btn-cancelSingle" onclick="CancelSingle('${item.maHang}')">X</button></td>
                                            </tr>`
                        }
                        document.getElementById("cart-data").innerHTML = content
                        document.getElementById("tongTien").innerHTML = "$"+response.data.sum
                })
        }
    </script>
</body>

</html>
