@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjectPRN211.Models
@model TblDonViTinh

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/main.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <header class="cart-wrapper container">
        <a asp-controller="Home" asp-action="Tasks">Back to shop</a>
        <table class="table caption-top">
            <caption>List of Carts</caption>
            <thead>
                <tr>
                    <th scope="col">MaHang</th>
                    <th scope="col">TenHang</th>
                    <th scope="col">Gia</th>
                    <th scope="col">SoLuong</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (TblCart item in ViewBag.Carts)
                {
                    <tr>
                        <th scope="row">@item.MaHang</th>
                        <td>@item.TenHang</td>
                        <td>@item.Gia</td>
                        <td>@item.Soluong</td>
                        <td>@(item.Gia * item.Soluong)</td>
                        <td><button class="btn btn-warning">X</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-danger">Clear All</button>
        <div class="d-flex justify-content-end">
            <h1 class="text-end">Số tiền phải trả: @ViewBag.Sum</h1>
            <button class="btn btn-info">Thanh Toán</button>
        </div>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
</body>

</html>
